[alias]
	c = commit -m
	fpush = push --force
	s = status
	sclone = clone --depth=1
	amend = commit --amend --all
	co = checkout
	df = diff --color --color-words --abbrev
	git = !exec git
[core]
	autocrlf = false
	ignorecase = false
